:root{
    --primary-title-color:#212121;
    --primary-text-color:#757575;
    --second-title-color:#FFFFFF;
    --accent-color:#2196F3;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}
.list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.link{
    text-decoration: none;
}

.hero-section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    box-sizing: border-box;
}
.img {
    display: block;
}

    /* ------header-------- */
.header-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-image-source: linear-gradient(0deg, #000000, #000000),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    padding-top: 24px;
    padding-bottom: 25px;
}
.header-line{
border-bottom: 1px solid #ECECEC;
}

.header-nav{
    display:flex;
    align-items: center;
}

.menu-link >.item:not(:last-child)
{
margin-right: 50px;
}

.menu-link{
    display: flex;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--primary-title-color);
}

.menu-link:hover,
.menu-link:focus{
    color: var(--accent-color);
}

.headericons-items:hover,
.headericons-items:focus{
    fill:currentColor;
}

.logo{
    display: flex;
font-family: Raleway;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
text-decoration: none;
color:var(--accent-color); 
}

.header-logo{
margin-right: 93px;   
}

.header-studio{
    display: flex;
    color: var(--primary-title-color);
}

.header-mail{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--primary-text-color);
}

.header-tel{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--primary-text-color);
margin-left: 50px;
}

.headericons-items{
    fill: #757575;
    margin-right: 10px;
    justify-content: center;
    align-content: center;
}

/* .headericons-items:hover,
.headericons-items:focus{
    fill:var(--accent-color) 
} */

.nav-contacts{
    display: flex;
}

.nav-contacts.nav-item-contacts + .nav-item-contacts {
    margin-left: 50px;
}
/* ----------main--------- */
.overlay{
height: 600px;
max-width: 1600px;
margin-left: auto;
margin-right: auto;
background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), 
url("../images/mainImg.jpg");
background-color: black;
background-repeat: no-repeat;
background-size: cover;
background-position: center;

}

.main-title-section{
align-items: center;
text-align: center;
/* background-color: var(--primary-text-color) */
}

.main-title{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--second-title-color);
padding-top: 200px;
}

.order-button{
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
padding: 10px 32px;
background-color: #2196F3;
color: var(--second-title-color);
margin-top: 30px;
}

.btn{
    font-family: inherit;
    cursor: pointer; 
}

.btn{
font-weight: 700;
font-size: 16px;
line-height: 1.87;
color: var(--second-title-color);
margin-bottom: 200px;
}

.btn:hover,
.btn:focus{
    color: var(--accent-color);
}

/* ------------hero-------- */
/* --фонові картинки героя-- */
.listicons{
    display: flex ;
    list-style: none;
    padding: 0;
    width: 270px;
height: 120px;
background: #F5F4FA;
margin-bottom: 30px;
align-items: center;
justify-content: center;
border-radius: 4px;
}

.hero-link{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}

.hero-item{
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
}
.hero-item:nth-child(4n) {
    margin-right: 0;
}

.hero-title{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--primary-title-color); 
margin-bottom: 10px;         
}

.hero-description{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--primary-text-color);
width: 270px;
}

.whatwedotitle{
    margin-top: 0;
    margin-bottom: 50px;
}


.whatwedotitle,
.team-title,
.clients-title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
}

.whatwedo-section{
    padding-bottom: 90px;
}
.clients-title{
    margin-bottom: 50px;
}

.photo-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px; 
} 

.photo-activity{
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
}

/* -------------team------------ */

.team-section{
padding-top: 97px;
padding-bottom: 90px;
}

.team-title{
    margin-bottom: 47px;
}

.team-photo-description{
padding-top: 30px;
padding-bottom: 30px;
}

.team-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px; 
}

.team-item{
    flex-basis: calc(100% / 4 - 30px);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-left: 30px;
}

.team-person{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color:var(--primary-title-color)
padding-top: 30px;
text-align: center;}

.team-occupation{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--primary-text-color);
padding-top: 10px;
    text-align: center;
    margin-bottom: 16px;
}
/* ----team-icons--- */
.team-social-item{
    width: 44px;
    height: 44px;
    margin-right: 10px;   
}

.team-social-item:last-child{
margin-right: 0;
}

.team-social-link{
    width: 100%;
    height: 100%;
    background-color:#FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.team-social-link:hover,
.team-social-link:focus{
background-color: var(--accent-color);
}
.team-social-icon{
    fill: rgba(175, 177, 184, 1);
}

.team-social-link:hover .team-social-icon,
.team-social-link:focus .team-social-icon{
    fill:var(--second-title-color)
}

.team-social{
    display: flex;
    justify-content: center;

}
/* -----clients------ */
.clients{
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-link{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}


.clients-item{
    width: 170px;
    height: 92px;
    border:1px solid #AFB1B8;
    border-radius: 4px;
    margin-right: 30px;
}
.clients-item:hover,
.clients-itemk:focus{
    border-color:var(--accent-color)
}

.clientsicons-link{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.clients-item:last-child{
    margin-right: 0;
}
    

.clientsicons-link::before{
    content: "";
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;  
}

.clientsicons-link{
    fill:var(--primary-text-color);
}

.clientsicons-link:hover .clientsicons-items,
.clientsicons-link:focus .clientsicons-items{
    fill:var(--accent-color)
}
/* .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  } */

  /* --------portfolio-page------ */
.btn-menu{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.button-item:not(:last-child) {
    margin-right: 8px;
}

.btn-chapter{
padding: 6px 22px;
min-width: 73px;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
color: var(--headlines-text-color);
background: #F5F4FA;
border-radius: 4px;
border: transparent;
}

.btn-chapter {
    cursor: pointer;
    font-family: inherit;
    }

.btn-chapter:hover,
.btn-chapter:focus {
    background-color: var(--accent-color) ;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.btn-chapter:focus, .btn-chapter:hover {
    color: var(--second-title-color);
    }
.buttons {
    padding-top: 94px;
    padding-bottom: 94px;
    }

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    }

.content-item{
   flex-basis: calc(100% / 3 - 30px);
}
.content-item{ 
    margin-right: 30px;
  margin-bottom: 30px;
  margin-left: 0;
    
    }

.content-item:nth-child(3n) {
    margin-right: 0;
    }
    
.content-item:nth-last-child(-n + 3) {
     margin-bottom: 0;
    }
.portfolio-img{
    display: block;
    text-decoration: none ;
}

.portfolio-img:hover,
.portfolio-img:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.content-name{
font-weight: 700;
font-size: 18px;
line-height: 2;
color:var(--primary-title-color)
}

.content-description{
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
padding-bottom: 4px;
color: var(--primary-text-color);       
}

.photo-description{
    padding: 20px 24px;
    width: 370px;
    border: 1px solid #EEEEEE;;
    border-top: 0;
}

/* ------footer--------- */
.footer{
    background-color:var(--primary-title-color);
    padding: 60px 0
    }
.footer-container{
    display: flex;
    align-items: baseline;
}

.footer-left{
    margin-right: 70px;
}

.address{
    width: 231px;
    height: 81px;   
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--second-title-color);
    }

.footer-title{
    color: #FFFFFF;
    font-weight: 700;
    font-size:14px;
    line-height: 1.17px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    
} 
.footer-social-link{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-social-link:hover,
.footer-social-link:focus{
background-color: var(--accent-color);
}
.footer-social-icon{
    fill:var(--second-title-color);
}


    .footer-mail,
    .footer-tel{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);    
    }
    

    .footer-address .footer-contacts + .footer-contacts {
        margin-top: 9px;
    }

    .footer-studio{
        color:var(--second-title-color);
    }